
/* centers all main */
.body{
    text-align: center;
}

/* div directly under main for a card-like view */
/* apply to all pages with card look on wireframe */
.bodyCard{
    border: 5px solid black;
    padding: 1em;
    margin: 1em 1em;
}

/* adds a border and a little padding to any html tag*/
.infoBox{
    border: 5px black solid;
    padding: .25em;
}

.underLined{
    border-bottom: 5px solid black;
    padding: .25em;
}

/* PROFILE SPECIFIC */

/* creates grid for profile */
#sectionProfile{
    display: grid;
    grid-template-columns: 1fr .5fr;
    text-align: center;
}
